<div class="col-md-12">
    <h4> User Details</h4>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Username</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Password</th>
        <th>Country</th>
        <th>Action</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="hidden">{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.password}}</td>
        <td>{{user.country}}</td>

        <td><a class="btn btn-danger" (click)="deleteUser(user)"> Delete User</a></td>
        <td><a routerLink="/updateUser/{{user.id}}" (click)="updateUser(user.id)"> Update User</a></td>
      </tr>
      </tbody>
    </table>
    </div>