<div class="col-md-4">
    <h2 class="text-center">Say! What's in your mind.</h2>

  <form style="margin-left: 40%;">
    <div class="form-group">
      <label for="text">UserId:</label>
      <input type="text" [(ngModel)]="tweet.userId" placeholder="UserId" name="userId" class="form-control" id="userId" required >
    </div>
    <div class="form-group">
        <label for="text">Tweet</label>
        <textarea  [(ngModel)]="tweet.tweet" placeholder="Send Something!" name="tweet" class="form-control" id="tweet" required >
            </textarea>
        </div>
    
    <button type="submit" class="btn btn-success" (click)="createTweet()">Send</button>
  </form>
  </div>